mixin card(title='', text='', phone='', mail='', mods)
  -
    const baseName = 'card'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  article.card(class=allMods)&attributes(attributes)
    .card__block
      h2.card__title= title
      p.card__text= text
    .card__block
      if phone
        a.card__contact(href='tel:' + phone)
          .card__contact-icon
            +phone-icon
          span.card__contact-text= phone
      if mail
        a.card__contact(href='mailto:' + mail)
          .card__contact-icon
            +message-icon
          span.card__contact-text= mail
    block
