mixin reset
  svg(
    class=attributes.class,
    xmlns='http://www.w3.org/2000/svg',
    width='18',
    height='18',
    viewBox='0 0 48 48',
    fill='none'
  )
    path(
      d='M18.15 18.15L29.85 29.85',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
    path(
      d='M18.15 29.85L29.85 18.15',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
mixin tick
  svg(
    width='24',
    height='24',
    viewBox='0 0 24 24',
    fill='none',
    xmlns='http://www.w3.org/2000/svg'
  )
    path(
      d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8',
      stroke='#62215B',
      stroke-width='2',
      stroke-linecap='round'
    )
mixin arrow-bottom
  svg(width='28', height='28', viewBox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6', stroke='#5C5772', stroke-linecap='round', stroke-linejoin='round')
mixin logo 
  svg(xmlns="http://www.w3.org/2000/svg", width="173", height="32", viewBox="0 0 173 32", fill="none")
    path(d="M72.2439 13.1345C72.6035 12.2939 73.1496 11.5904 73.8643 11.0488C74.8375 10.3094 76.0421 9.93403 77.4401 9.93403C78.3661 9.93403 79.2201 10.1003 79.9753 10.4307C80.7237 10.7566 81.3642 11.2398 81.8789 11.8624C82.3172 12.3928 82.6543 13.0199 82.9128 13.6986H72.6574C72.5068 13.6986 72.3742 13.6312 72.2888 13.5121C72.2056 13.3974 72.1899 13.2603 72.2439 13.1345ZM82.8341 7.18309C81.2631 6.27734 79.4494 5.81885 77.4401 5.81885C74.4846 5.81885 71.9831 6.78303 70.0031 8.68667C68.0275 10.5881 67.0251 12.9884 67.0251 15.8225C67.0251 18.6566 68.0275 21.0569 70.0031 22.9583C71.9809 24.862 74.4824 25.8262 77.4401 25.8262C79.6741 25.8262 81.6901 25.2485 83.4319 24.1091C84.6726 23.2955 85.6884 22.2459 86.4503 20.9873C86.7178 20.5468 86.7133 20.0208 86.4436 19.5826C86.1739 19.1443 85.6929 18.8836 85.158 18.8836H83.2881C82.8049 18.8836 82.3509 19.1061 82.0789 19.4769C81.8182 19.8298 81.5081 20.1445 81.1619 20.4119C80.6787 20.7827 80.1169 21.0704 79.4898 21.2727C78.8583 21.475 78.1705 21.5784 77.4423 21.5784C75.95 21.5784 74.6891 21.1693 73.6935 20.367C72.9338 19.7534 72.3922 18.9645 72.0798 18.0183C72.0371 17.888 72.0618 17.7531 72.1472 17.643C72.2304 17.5351 72.3585 17.4744 72.4978 17.4744H86.257C87.0549 17.4744 87.7224 16.8653 87.7426 16.1169L87.7471 15.8607C87.7471 14.0357 87.3201 12.3456 86.475 10.8375C85.6277 9.31596 84.4029 8.08883 82.8341 7.18309Z", fill="#00AA88")
    path(d="M100.888 15.8472C100.673 15.591 100.673 15.2336 100.886 14.9774L106.278 8.53832C106.635 8.11354 106.7 7.54492 106.449 7.05497C106.197 6.56501 105.685 6.2616 105.109 6.2616H103.406C102.943 6.2616 102.516 6.45938 102.232 6.801L96.8293 13.339C96.6518 13.557 96.4113 13.4986 96.3416 13.4761C96.2719 13.4536 96.0472 13.3592 96.0472 13.085V7.66629C96.0472 6.8909 95.3797 6.2616 94.5593 6.2616H92.7793C91.959 6.2616 91.2915 6.8909 91.2915 7.66629V23.9764C91.2915 24.7518 91.959 25.3811 92.7793 25.3811H94.5593C95.3797 25.3811 96.0472 24.7518 96.0472 23.9764V17.8969C96.0472 17.6227 96.2742 17.5283 96.3439 17.5059C96.4158 17.4856 96.654 17.4272 96.8316 17.6452L102.702 24.835C102.983 25.1766 103.424 25.3811 103.88 25.3811H105.826C106.401 25.3811 106.916 25.0777 107.166 24.5878C107.415 24.0978 107.35 23.5292 106.99 23.1022L100.888 15.8472Z", fill="#00AA88")
    path(d="M167.527 15.8224C167.527 17.4451 166.956 18.8139 165.828 19.8882C164.688 20.976 163.279 21.5064 161.524 21.5064C159.768 21.5064 158.362 20.9782 157.22 19.8882C156.078 18.7981 155.523 17.4676 155.523 15.8224C155.523 14.7504 155.779 13.7705 156.289 12.9074C156.795 12.0489 157.519 11.3656 158.44 10.8779C159.366 10.388 160.409 10.1385 161.544 10.1385C163.263 10.1385 164.704 10.6824 165.83 11.7567C166.956 12.831 167.527 14.1997 167.527 15.8224ZM170.972 10.7071C170.076 9.17882 168.812 7.96966 167.219 7.11111C165.625 6.25481 163.812 5.82104 161.832 5.82104C159.548 5.82104 157.53 6.41214 155.833 7.58084C155.626 7.72243 155.37 7.76289 155.134 7.68872C154.909 7.61905 154.741 7.45722 154.669 7.24146C154.471 6.65711 153.9 6.2638 153.251 6.2638H152.473C151.653 6.2638 150.985 6.89311 150.985 7.6685V30.5953C150.985 31.3684 151.653 32 152.473 32H154.253C155.073 32 155.741 31.3707 155.741 30.5953V25.2777C155.741 25.0237 155.88 24.7945 156.116 24.6641C156.341 24.5383 156.595 24.5338 156.82 24.6529C158.301 25.4328 159.986 25.8283 161.834 25.8283C164.837 25.8283 167.363 24.8687 169.341 22.9785C171.318 21.0883 172.321 18.6813 172.321 15.8247C172.319 13.9525 171.865 12.2332 170.972 10.7071Z", fill="#00AA88")
    path(d="M58.2284 7.12234C57.9947 6.60091 57.4575 6.26379 56.8574 6.26379H55.6213C55.0392 6.26379 54.5065 6.58743 54.266 7.08638L46.4177 23.3965C46.2065 23.8326 46.2469 24.3337 46.5211 24.7383C46.7953 25.1406 47.2651 25.3833 47.773 25.3833H49.6519C50.2407 25.3833 50.7734 25.0552 51.0117 24.5473L55.7921 14.3526C55.8977 14.1256 56.118 14.1053 56.1944 14.1053C56.2528 14.1008 56.4956 14.1211 56.599 14.3638L60.9097 24.5023C61.1367 25.0372 61.6783 25.3833 62.2896 25.3833H64.1551C64.654 25.3833 65.1193 25.1473 65.3957 24.754C65.6721 24.3607 65.7193 23.8663 65.526 23.4302L58.2284 7.12234Z", fill="#00AA88")
    path(d="M119.731 15.8472C119.516 15.591 119.516 15.2336 119.729 14.9774L125.121 8.53832C125.478 8.1113 125.543 7.54492 125.294 7.05497C125.045 6.56501 124.53 6.2616 123.954 6.2616H122.251C121.79 6.2616 121.361 6.45938 121.078 6.801L115.675 13.339C115.499 13.5525 115.259 13.4986 115.189 13.4761C115.12 13.4536 114.895 13.3592 114.895 13.085V7.66629C114.895 6.8909 114.227 6.2616 113.407 6.2616H111.627C110.807 6.2616 110.139 6.8909 110.139 7.66629V23.9764C110.139 24.7518 110.807 25.3811 111.627 25.3811H113.407C114.227 25.3811 114.895 24.7518 114.895 23.9764V17.8969C114.895 17.6227 115.122 17.5283 115.191 17.5059C115.261 17.4856 115.502 17.4272 115.679 17.6452L121.55 24.835C121.831 25.1766 122.271 25.3811 122.727 25.3811H124.674C125.249 25.3811 125.764 25.0777 126.013 24.5878C126.263 24.0978 126.198 23.5292 125.838 23.1022L119.731 15.8472Z", fill="#00AA88")
    path(d="M143.083 13.6964H132.825C132.675 13.6964 132.542 13.6289 132.459 13.5098C132.378 13.3952 132.362 13.2581 132.416 13.1322C132.778 12.2894 133.322 11.5882 134.037 11.0466C135.01 10.3071 136.212 9.93178 137.613 9.93178C138.541 9.93178 139.393 10.0981 140.148 10.4285C140.896 10.7566 141.537 11.2376 142.051 11.8601C142.485 12.3906 142.822 13.0176 143.083 13.6964ZM143.007 7.18309C141.436 6.27734 139.62 5.81885 137.61 5.81885C134.655 5.81885 132.153 6.78303 130.173 8.68667C128.198 10.5881 127.195 12.9884 127.195 15.8225C127.195 18.6566 128.198 21.0569 130.173 22.9583C132.151 24.862 134.653 25.8262 137.61 25.8262C139.844 25.8262 141.86 25.2485 143.602 24.1091C144.845 23.2977 145.859 22.2459 146.623 20.985C146.888 20.5445 146.886 20.0186 146.616 19.5803C146.346 19.1421 145.865 18.8814 145.328 18.8814H143.458C142.975 18.8814 142.523 19.1039 142.249 19.4747C141.986 19.8298 141.678 20.1422 141.33 20.4097C140.849 20.7805 140.285 21.0704 139.658 21.2705C139.026 21.4727 138.339 21.5761 137.61 21.5761C136.098 21.5761 134.873 21.1805 133.859 20.3647C133.1 19.7534 132.558 18.9623 132.248 18.0161C132.205 17.8857 132.23 17.7486 132.315 17.6407C132.398 17.5328 132.526 17.4722 132.666 17.4722H146.425C147.223 17.4722 147.89 16.8631 147.913 16.1102L147.915 15.8585C147.915 14.0357 147.486 12.3456 146.645 10.8353C145.798 9.31597 144.573 8.08883 143.007 7.18309Z", fill="#00AA88")
    path(d="M9.51813 31.6472H13.1119C15.674 22.2301 23.5426 14.8021 33.5147 12.3815V8.98779C21.6097 11.5387 12.2219 20.4029 9.51813 31.6472Z", fill="#00AA88")
    path(d="M0.197754 31.6471H3.75556C6.62787 17.4609 18.4925 6.25703 33.517 3.54654V0.186523C16.5574 2.97568 3.15098 15.6336 0.197754 31.6471Z", fill="#00AA88")
    path(d="M18.9937 31.6471H33.517V17.9351C26.6621 20.0545 21.2389 25.1743 18.9937 31.6471Z", fill="#00AA88")
    path(d="M17.616 0H0V16.6338C4.17137 9.70024 10.2733 3.93763 17.616 0Z", fill="#00AA88")
mixin seach-icon
  svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
    path(d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z", stroke="#364A46", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
    path(d="M22 22L20 20", stroke="#364A46", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
mixin dotted-icon 
  svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
    path(d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10Z", stroke="white", stroke-width="2")
    path(d="M19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10Z", stroke="white", stroke-width="2")
    path(d="M12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z", stroke="white", stroke-width="2")
mixin phone-icon 
  svg(xmlns="http://www.w3.org/2000/svg", width="20", height="20", viewBox="0 0 20 20", fill="none")
    path(d="M18.3084 15.275C18.3084 15.575 18.2417 15.8833 18.1 16.1833C17.9584 16.4833 17.775 16.7666 17.5334 17.0333C17.125 17.4833 16.675 17.8083 16.1667 18.0166C15.6667 18.225 15.125 18.3333 14.5417 18.3333C13.6917 18.3333 12.7834 18.1333 11.825 17.725C10.8667 17.3166 9.90835 16.7666 8.95835 16.075C8.00002 15.375 7.09169 14.6 6.22502 13.7416C5.36669 12.875 4.59169 11.9666 3.90002 11.0166C3.21669 10.0666 2.66669 9.11663 2.26669 8.17496C1.86669 7.22496 1.66669 6.31663 1.66669 5.44996C1.66669 4.88329 1.76669 4.34163 1.96669 3.84163C2.16669 3.33329 2.48335 2.86663 2.92502 2.44996C3.45835 1.92496 4.04169 1.66663 4.65835 1.66663C4.89169 1.66663 5.12502 1.71663 5.33335 1.81663C5.55002 1.91663 5.74169 2.06663 5.89169 2.28329L7.82502 5.00829C7.97502 5.21663 8.08335 5.40829 8.15835 5.59163C8.23335 5.76663 8.27502 5.94163 8.27502 6.09996C8.27502 6.29996 8.21669 6.49996 8.10002 6.69162C7.99169 6.88329 7.83335 7.08329 7.63335 7.28329L7.00002 7.94162C6.90835 8.03329 6.86669 8.14163 6.86669 8.27496C6.86669 8.34163 6.87502 8.39996 6.89169 8.46662C6.91669 8.53329 6.94169 8.58329 6.95835 8.63329C7.10835 8.90829 7.36669 9.26663 7.73335 9.69996C8.10835 10.1333 8.50835 10.575 8.94169 11.0166C9.39169 11.4583 9.82502 11.8666 10.2667 12.2416C10.7 12.6083 11.0584 12.8583 11.3417 13.0083C11.3834 13.025 11.4334 13.05 11.4917 13.075C11.5584 13.1 11.625 13.1083 11.7 13.1083C11.8417 13.1083 11.95 13.0583 12.0417 12.9666L12.675 12.3416C12.8834 12.1333 13.0834 11.975 13.275 11.875C13.4667 11.7583 13.6584 11.7 13.8667 11.7C14.025 11.7 14.1917 11.7333 14.375 11.8083C14.5584 11.8833 14.75 11.9916 14.9584 12.1333L17.7167 14.0916C17.9334 14.2416 18.0834 14.4166 18.175 14.625C18.2584 14.8333 18.3084 15.0416 18.3084 15.275Z", stroke="inherit", stroke-width="2", stroke-miterlimit="10")
    path(d="M15.4167 7.49992C15.4167 6.99992 15.025 6.23325 14.4417 5.60825C13.9083 5.03325 13.2 4.58325 12.5 4.58325", stroke="inherit", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
    path(d="M18.3333 7.49996C18.3333 4.27496 15.725 1.66663 12.5 1.66663", stroke="inherit", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

mixin message-icon 
  div 
    svg(xmlns="http://www.w3.org/2000/svg", width="20", height="20", viewBox="0 0 20 20", fill="none")
      path(d="M1.66669 7.08329C1.66669 4.16663 3.33335 2.91663 5.83335 2.91663H14.1667C16.6667 2.91663 18.3334 4.16663 18.3334 7.08329V12.9166C18.3334 15.8333 16.6667 17.0833 14.1667 17.0833H5.83335", stroke="inherit", stroke-width="2", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
      path(d="M14.1666 7.5L11.5583 9.58333C10.7 10.2667 9.29164 10.2667 8.43331 9.58333L5.83331 7.5", stroke="inherit", stroke-width="2", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
      path(d="M1.66669 13.75H6.66669", stroke="inherit", stroke-width="2", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
      path(d="M1.66669 10.4166H4.16669", stroke="inherit", stroke-width="2", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
mixin vk-icon 
  svg(xmlns="http://www.w3.org/2000/svg", width="66", height="40", viewBox="0 0 66 40", fill="inherit")
    path(d="M35.9473 40C13.3977 40 0.535915 24.985 0 0H11.2954C11.6665 18.3383 19.9936 26.1061 26.5894 27.7077V0H37.2257V15.8158C43.7391 15.1351 50.5815 7.92793 52.8901 0H63.5261C61.7535 9.76977 54.3331 16.977 49.0564 19.9399C54.3331 22.3423 62.7845 28.6286 66 40H54.2919C51.7772 32.3924 45.5118 26.5065 37.2257 25.7057V40H35.9473Z", fill="var(--color-for-link)")
mixin ytb-icon 
  svg(xmlns="http://www.w3.org/2000/svg", width="66", height="46", viewBox="0 0 66 46", fill="inherit")
    path(d="M64.0618 7.15269C63.3079 4.33578 61.094 2.12211 58.2771 1.36806C53.1767 4.09511e-07 32.7149 0 32.7149 0C32.7149 0 12.2533 4.09511e-07 7.15273 1.36806C4.33584 2.12211 2.12217 4.33578 1.36812 7.15269C6.14447e-05 12.2533 6.10352e-05 22.9015 6.10352e-05 22.9015C6.10352e-05 22.9015 6.14447e-05 33.5498 1.36812 38.6504C2.12217 41.4673 4.33584 43.681 7.15273 44.4349C12.2533 45.803 32.7149 45.803 32.7149 45.803C32.7149 45.803 53.1767 45.803 58.2771 44.4349C61.094 43.681 63.3079 41.4673 64.0618 38.6504C65.4299 33.5498 65.4299 22.9015 65.4299 22.9015C65.4299 22.9015 65.4244 12.2533 64.0618 7.15269Z", fill="var(--color-for-link)")
    path(d="M26.1658 32.7158L43.1642 22.9024L26.1658 13.089V32.7158Z", fill="white")
mixin ok-icon 
  svg(xmlns="http://www.w3.org/2000/svg", width="64", height="64", viewBox="0 0 64 64", fill="var(--color-for-link)")
    path(d="M40.6399 44C40.6399 44 38.7199 44.16 39.3599 45.28C39.8399 46.4 47.6799 53.28 48.1599 55.2C48.6399 57.12 49.4399 57.76 46.8799 60.32C44.3199 62.72 42.3999 62.24 38.0799 57.92C33.9199 53.44 31.8399 51.68 31.8399 51.68C31.8399 51.68 29.7599 53.6 25.5999 57.92C21.4399 62.4 19.3599 62.88 16.7999 60.32C14.2399 57.92 15.0399 57.44 15.5199 55.2C15.9999 53.28 23.8399 46.24 24.3199 45.28C24.7999 44.16 23.0399 44 23.0399 44C11.1999 42.56 14.3999 35.2 14.3999 35.2C17.2799 30.72 22.0799 33.92 22.0799 33.92C26.8799 37.28 32.1599 36.32 32.1599 36.32C32.1599 36.32 37.4399 37.12 42.2399 33.92C42.2399 33.92 46.7199 30.56 49.9199 35.2C49.5999 35.2 52.7999 42.56 40.6399 44ZM31.8399 31.84C23.6799 31.84 17.1199 25.12 17.1199 17.12C17.1199 9.12002 23.8399 2.40002 31.8399 2.40002C39.8399 2.40002 46.5599 9.12002 46.5599 17.12C46.5599 25.12 39.9999 31.84 31.8399 31.84ZM31.8399 10.88C28.3199 10.88 25.7599 13.6 25.7599 16.96C25.7599 20.32 28.4799 23.04 31.8399 23.04C35.1999 23.04 37.9199 20.32 37.9199 16.96C37.9199 13.6 35.3599 10.88 31.8399 10.88Z", fill="var(--color-for-link)")

//footer
mixin vk-icon-footer 
  svg(xmlns="http://www.w3.org/2000/svg", width="74", height="74", viewBox="0 0 74 74", fill="none")
    rect(x="1", y="1", width="72", height="72", rx="15", fill="white")
    rect(x="1", y="1", width="72", height="72", rx="15", stroke="#ECECEC", stroke-width="2")
    path(d="M37.6164 45C29.0749 45 24.203 38.994 24 29H28.2786C28.4191 36.3353 31.5733 39.4424 34.0718 40.0831V29H38.1006V35.3263C40.5679 35.0541 43.1597 32.1712 44.0341 29H48.0629C47.3915 32.9079 44.5807 35.7908 42.582 36.976C44.5807 37.9369 47.782 40.4515 49 45H44.5651C43.6126 41.957 41.2393 39.6026 38.1006 39.2823V45H37.6164Z", fill="currentColor")

mixin ok-icon-footer
  svg(width="74", height="74", viewBox="0 0 74 74", fill="none", xmlns="http://www.w3.org/2000/svg")
    rect(x="1", y="1", width="72", height="72", rx="15", fill="white")
    rect(x="1", y="1", width="72", height="72", rx="15", stroke="#ECECEC", stroke-width="2")
    path(d="M40.78 42.25C40.78 42.25 39.94 42.32 40.22 42.81C40.43 43.3 43.86 46.31 44.07 47.15C44.28 47.99 44.63 48.27 43.51 49.39C42.39 50.44 41.55 50.23 39.66 48.34C37.84 46.38 36.93 45.61 36.93 45.61C36.93 45.61 36.02 46.45 34.2 48.34C32.38 50.3 31.47 50.51 30.35 49.39C29.23 48.34 29.58 48.13 29.79 47.15C30 46.31 33.43 43.23 33.64 42.81C33.85 42.32 33.08 42.25 33.08 42.25C27.9 41.62 29.3 38.4 29.3 38.4C30.56 36.44 32.66 37.84 32.66 37.84C34.76 39.31 37.07 38.89 37.07 38.89C37.07 38.89 39.38 39.24 41.48 37.84C41.48 37.84 43.44 36.37 44.84 38.4C44.7 38.4 46.1 41.62 40.78 42.25ZM36.93 36.93C33.36 36.93 30.49 33.99 30.49 30.49C30.49 26.99 33.43 24.05 36.93 24.05C40.43 24.05 43.37 26.99 43.37 30.49C43.37 33.99 40.5 36.93 36.93 36.93ZM36.93 27.76C35.39 27.76 34.27 28.95 34.27 30.42C34.27 31.89 35.46 33.08 36.93 33.08C38.4 33.08 39.59 31.89 39.59 30.42C39.59 28.95 38.47 27.76 36.93 27.76Z", fill="currentColor")

mixin ytb-icon-footer 
  svg(width="74", height="74", viewBox="0 0 74 74", fill="none", xmlns="http://www.w3.org/2000/svg")
    rect(x="1", y="1", width="72", height="72", rx="15", fill="white")
    rect(x="1", y="1", width="72", height="72", rx="15", stroke="#ECECEC", stroke-width="2")
    path(d="M49.375 29.425C47.0125 27.625 41.7625 27.5371 37 27.5371C32.2375 27.5371 26.9875 27.625 24.625 29.425C22.2625 31.225 22.1875 35.125 22.1875 37.45C22.1875 39.775 22.2625 43.675 24.625 45.475C26.9875 47.275 32.2375 47.3632 37 47.3632C41.7625 47.3632 47.0125 47.275 49.375 45.475C51.7375 43.675 51.8125 39.775 51.8125 37.45C51.8125 35.125 51.7375 31.225 49.375 29.425ZM41.6938 37.9744L41.6947 37.9756L33.6469 42.2644C33.6037 42.2956 33.5566 42.3205 33.5059 42.3397L33.496 42.3451L33.4954 42.343C33.4303 42.3664 33.361 42.3814 33.2878 42.3814C32.9461 42.3814 32.6692 42.1042 32.6692 41.7628V33.1186C32.6692 32.7769 32.9464 32.5 33.2878 32.5C33.3841 32.5 33.4744 32.524 33.5557 32.5633L33.556 32.563L41.6947 36.9256L41.6944 36.9262C41.8699 37.0354 41.9878 37.2286 41.9878 37.4503C41.9875 37.672 41.8693 37.8652 41.6938 37.9744Z", fill="currentColor")

mixin rutube-icon-footer 
  svg(xmlns="http://www.w3.org/2000/svg", width="74", height="74", viewBox="0 0 74 74", fill="none")
    rect(x="1", y="1", width="72", height="72", rx="15", fill="white")
    rect(x="1", y="1", width="72", height="72", rx="15", stroke="#ECECEC", stroke-width="2")
    path(d="M38.9025 33H25V48H28.8695V43.1199H36.2841L39.6671 48H44L40.2695 43.0975C41.4281 42.9176 42.2622 42.4903 42.772 41.8156C43.2817 41.141 43.5366 40.0615 43.5366 38.6222V37.4978C43.5366 36.6432 43.444 35.9686 43.2817 35.4513C43.1195 34.934 42.8415 34.4843 42.4476 34.0795C42.0305 33.6972 41.5671 33.4273 41.011 33.2474C40.4549 33.0899 39.7597 33 38.9025 33ZM38.2769 39.8141H28.8695V36.3058H38.2769C38.8098 36.3058 39.1805 36.3958 39.3659 36.5532C39.5512 36.7106 39.6671 37.003 39.6671 37.4303V38.6897C39.6671 39.1395 39.5512 39.4318 39.3659 39.5892C39.1805 39.7466 38.8098 39.8141 38.2769 39.8141Z", fill="currentColor")
    path(d="M45.682 32.2523C47.128 32.2523 48.301 31.0766 48.301 29.6262C48.301 28.1758 47.128 27 45.682 27C44.235 27 43.062 28.1758 43.062 29.6262C43.062 31.0766 44.235 32.2523 45.682 32.2523Z", fill="currentColor")
