mixin reset
  svg(
    class=attributes.class,
    xmlns='http://www.w3.org/2000/svg',
    width='18',
    height='18',
    viewBox='0 0 48 48',
    fill='none'
  )
    path(
      d='M18.15 18.15L29.85 29.85',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
    path(
      d='M18.15 29.85L29.85 18.15',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
mixin tick
  svg(
    width='24',
    height='24',
    viewBox='0 0 24 24',
    fill='none',
    xmlns='http://www.w3.org/2000/svg'
  )
    path(
      d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8',
      stroke='#62215B',
      stroke-width='2',
      stroke-linecap='round'
    )
mixin arrow-bottom
  svg(width='28', height='28', viewBox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6', stroke='#5C5772', stroke-linecap='round', stroke-linejoin='round')
mixin logo 
  svg(xmlns="http://www.w3.org/2000/svg", width="173", height="32", viewBox="0 0 173 32", fill="none")
    path(d="M72.2439 13.1345C72.6035 12.2939 73.1496 11.5904 73.8643 11.0488C74.8375 10.3094 76.0421 9.93403 77.4401 9.93403C78.3661 9.93403 79.2201 10.1003 79.9753 10.4307C80.7237 10.7566 81.3642 11.2398 81.8789 11.8624C82.3172 12.3928 82.6543 13.0199 82.9128 13.6986H72.6574C72.5068 13.6986 72.3742 13.6312 72.2888 13.5121C72.2056 13.3974 72.1899 13.2603 72.2439 13.1345ZM82.8341 7.18309C81.2631 6.27734 79.4494 5.81885 77.4401 5.81885C74.4846 5.81885 71.9831 6.78303 70.0031 8.68667C68.0275 10.5881 67.0251 12.9884 67.0251 15.8225C67.0251 18.6566 68.0275 21.0569 70.0031 22.9583C71.9809 24.862 74.4824 25.8262 77.4401 25.8262C79.6741 25.8262 81.6901 25.2485 83.4319 24.1091C84.6726 23.2955 85.6884 22.2459 86.4503 20.9873C86.7178 20.5468 86.7133 20.0208 86.4436 19.5826C86.1739 19.1443 85.6929 18.8836 85.158 18.8836H83.2881C82.8049 18.8836 82.3509 19.1061 82.0789 19.4769C81.8182 19.8298 81.5081 20.1445 81.1619 20.4119C80.6787 20.7827 80.1169 21.0704 79.4898 21.2727C78.8583 21.475 78.1705 21.5784 77.4423 21.5784C75.95 21.5784 74.6891 21.1693 73.6935 20.367C72.9338 19.7534 72.3922 18.9645 72.0798 18.0183C72.0371 17.888 72.0618 17.7531 72.1472 17.643C72.2304 17.5351 72.3585 17.4744 72.4978 17.4744H86.257C87.0549 17.4744 87.7224 16.8653 87.7426 16.1169L87.7471 15.8607C87.7471 14.0357 87.3201 12.3456 86.475 10.8375C85.6277 9.31596 84.4029 8.08883 82.8341 7.18309Z", fill="#00AA88")
    path(d="M100.888 15.8472C100.673 15.591 100.673 15.2336 100.886 14.9774L106.278 8.53832C106.635 8.11354 106.7 7.54492 106.449 7.05497C106.197 6.56501 105.685 6.2616 105.109 6.2616H103.406C102.943 6.2616 102.516 6.45938 102.232 6.801L96.8293 13.339C96.6518 13.557 96.4113 13.4986 96.3416 13.4761C96.2719 13.4536 96.0472 13.3592 96.0472 13.085V7.66629C96.0472 6.8909 95.3797 6.2616 94.5593 6.2616H92.7793C91.959 6.2616 91.2915 6.8909 91.2915 7.66629V23.9764C91.2915 24.7518 91.959 25.3811 92.7793 25.3811H94.5593C95.3797 25.3811 96.0472 24.7518 96.0472 23.9764V17.8969C96.0472 17.6227 96.2742 17.5283 96.3439 17.5059C96.4158 17.4856 96.654 17.4272 96.8316 17.6452L102.702 24.835C102.983 25.1766 103.424 25.3811 103.88 25.3811H105.826C106.401 25.3811 106.916 25.0777 107.166 24.5878C107.415 24.0978 107.35 23.5292 106.99 23.1022L100.888 15.8472Z", fill="#00AA88")
    path(d="M167.527 15.8224C167.527 17.4451 166.956 18.8139 165.828 19.8882C164.688 20.976 163.279 21.5064 161.524 21.5064C159.768 21.5064 158.362 20.9782 157.22 19.8882C156.078 18.7981 155.523 17.4676 155.523 15.8224C155.523 14.7504 155.779 13.7705 156.289 12.9074C156.795 12.0489 157.519 11.3656 158.44 10.8779C159.366 10.388 160.409 10.1385 161.544 10.1385C163.263 10.1385 164.704 10.6824 165.83 11.7567C166.956 12.831 167.527 14.1997 167.527 15.8224ZM170.972 10.7071C170.076 9.17882 168.812 7.96966 167.219 7.11111C165.625 6.25481 163.812 5.82104 161.832 5.82104C159.548 5.82104 157.53 6.41214 155.833 7.58084C155.626 7.72243 155.37 7.76289 155.134 7.68872C154.909 7.61905 154.741 7.45722 154.669 7.24146C154.471 6.65711 153.9 6.2638 153.251 6.2638H152.473C151.653 6.2638 150.985 6.89311 150.985 7.6685V30.5953C150.985 31.3684 151.653 32 152.473 32H154.253C155.073 32 155.741 31.3707 155.741 30.5953V25.2777C155.741 25.0237 155.88 24.7945 156.116 24.6641C156.341 24.5383 156.595 24.5338 156.82 24.6529C158.301 25.4328 159.986 25.8283 161.834 25.8283C164.837 25.8283 167.363 24.8687 169.341 22.9785C171.318 21.0883 172.321 18.6813 172.321 15.8247C172.319 13.9525 171.865 12.2332 170.972 10.7071Z", fill="#00AA88")
    path(d="M58.2284 7.12234C57.9947 6.60091 57.4575 6.26379 56.8574 6.26379H55.6213C55.0392 6.26379 54.5065 6.58743 54.266 7.08638L46.4177 23.3965C46.2065 23.8326 46.2469 24.3337 46.5211 24.7383C46.7953 25.1406 47.2651 25.3833 47.773 25.3833H49.6519C50.2407 25.3833 50.7734 25.0552 51.0117 24.5473L55.7921 14.3526C55.8977 14.1256 56.118 14.1053 56.1944 14.1053C56.2528 14.1008 56.4956 14.1211 56.599 14.3638L60.9097 24.5023C61.1367 25.0372 61.6783 25.3833 62.2896 25.3833H64.1551C64.654 25.3833 65.1193 25.1473 65.3957 24.754C65.6721 24.3607 65.7193 23.8663 65.526 23.4302L58.2284 7.12234Z", fill="#00AA88")
    path(d="M119.731 15.8472C119.516 15.591 119.516 15.2336 119.729 14.9774L125.121 8.53832C125.478 8.1113 125.543 7.54492 125.294 7.05497C125.045 6.56501 124.53 6.2616 123.954 6.2616H122.251C121.79 6.2616 121.361 6.45938 121.078 6.801L115.675 13.339C115.499 13.5525 115.259 13.4986 115.189 13.4761C115.12 13.4536 114.895 13.3592 114.895 13.085V7.66629C114.895 6.8909 114.227 6.2616 113.407 6.2616H111.627C110.807 6.2616 110.139 6.8909 110.139 7.66629V23.9764C110.139 24.7518 110.807 25.3811 111.627 25.3811H113.407C114.227 25.3811 114.895 24.7518 114.895 23.9764V17.8969C114.895 17.6227 115.122 17.5283 115.191 17.5059C115.261 17.4856 115.502 17.4272 115.679 17.6452L121.55 24.835C121.831 25.1766 122.271 25.3811 122.727 25.3811H124.674C125.249 25.3811 125.764 25.0777 126.013 24.5878C126.263 24.0978 126.198 23.5292 125.838 23.1022L119.731 15.8472Z", fill="#00AA88")
    path(d="M143.083 13.6964H132.825C132.675 13.6964 132.542 13.6289 132.459 13.5098C132.378 13.3952 132.362 13.2581 132.416 13.1322C132.778 12.2894 133.322 11.5882 134.037 11.0466C135.01 10.3071 136.212 9.93178 137.613 9.93178C138.541 9.93178 139.393 10.0981 140.148 10.4285C140.896 10.7566 141.537 11.2376 142.051 11.8601C142.485 12.3906 142.822 13.0176 143.083 13.6964ZM143.007 7.18309C141.436 6.27734 139.62 5.81885 137.61 5.81885C134.655 5.81885 132.153 6.78303 130.173 8.68667C128.198 10.5881 127.195 12.9884 127.195 15.8225C127.195 18.6566 128.198 21.0569 130.173 22.9583C132.151 24.862 134.653 25.8262 137.61 25.8262C139.844 25.8262 141.86 25.2485 143.602 24.1091C144.845 23.2977 145.859 22.2459 146.623 20.985C146.888 20.5445 146.886 20.0186 146.616 19.5803C146.346 19.1421 145.865 18.8814 145.328 18.8814H143.458C142.975 18.8814 142.523 19.1039 142.249 19.4747C141.986 19.8298 141.678 20.1422 141.33 20.4097C140.849 20.7805 140.285 21.0704 139.658 21.2705C139.026 21.4727 138.339 21.5761 137.61 21.5761C136.098 21.5761 134.873 21.1805 133.859 20.3647C133.1 19.7534 132.558 18.9623 132.248 18.0161C132.205 17.8857 132.23 17.7486 132.315 17.6407C132.398 17.5328 132.526 17.4722 132.666 17.4722H146.425C147.223 17.4722 147.89 16.8631 147.913 16.1102L147.915 15.8585C147.915 14.0357 147.486 12.3456 146.645 10.8353C145.798 9.31597 144.573 8.08883 143.007 7.18309Z", fill="#00AA88")
    path(d="M9.51813 31.6472H13.1119C15.674 22.2301 23.5426 14.8021 33.5147 12.3815V8.98779C21.6097 11.5387 12.2219 20.4029 9.51813 31.6472Z", fill="#00AA88")
    path(d="M0.197754 31.6471H3.75556C6.62787 17.4609 18.4925 6.25703 33.517 3.54654V0.186523C16.5574 2.97568 3.15098 15.6336 0.197754 31.6471Z", fill="#00AA88")
    path(d="M18.9937 31.6471H33.517V17.9351C26.6621 20.0545 21.2389 25.1743 18.9937 31.6471Z", fill="#00AA88")
    path(d="M17.616 0H0V16.6338C4.17137 9.70024 10.2733 3.93763 17.616 0Z", fill="#00AA88")
mixin seach-icon
  svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
    path(d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z", stroke="#364A46", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
    path(d="M22 22L20 20", stroke="#364A46", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
mixin dotted-icon 
  svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
    path(d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10Z", stroke="white", stroke-width="2")
    path(d="M19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10Z", stroke="white", stroke-width="2")
    path(d="M12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z", stroke="white", stroke-width="2")

