mixin tailwind-cardNews(href='#', image='', date='', title='', tag='q', ...tags)
  a.tailwind-cardNews.flex.flex.flex-col.flex-col.justify-between.rounded-5.border.border-solid.border-gray-500.p-5.font-display(
    href=href
  )(
    class='max-w-[36.6875rem] d:min-w-[15.8125rem] d:rounded-4 d:p-2'
  )&attributes(attributes)
    div(class='relative max-w-[34.1875rem] d:max-w-[14.875rem]')
      +picture(image).w-full
      .bg-bgblur.absolute.left-5.top-5.rounded-3.px-3.py-1.text-white(class='d:left-2 d:top-2 d:text-xs')
        time.text-white= date
      +tag.absolute.bottom-6.left-5.desktop
        = tag
    h3(
      class='mx-10 mt-10 min-h-[10.5rem] text-[2rem]/[2.4rem] font-semibold tracking-[-0.64px] d:mx-2 d:mt-3 d:min-h-[4.75rem] d:max-w-[13.8rem] d:text-base/[1.2rem] d:tracking-[-0.16px]'
    )= title
    .flex.flex-wrap.gap-2.justify-self-end(class='mx-10 mt-4 d:mx-2 d:text-sm')
      each t in tags 
        span.mt-auto.text-accent= t
